Raiz
:root {
    --w: #fff;
    --b: #000;
    --cb1: #00B9BD;
    --cb2: #007E80;
    --cb3: #004853;
    --cg: #383B40;
}


/* Formato base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

img {
    max-width: 100% !important;
}
/* 
.body {
    min-height: 100vh;
} */

/* Styles */

h1.style, h2.style {
    color: var(--cg);
    font-family: courier;
}

h5 {
    margin: 0 !important;
}

/* Loading */

.blank {
    width: 100% !important;
    height: 100vh !important;
}
.loading {
    width: 1rem !important;
    height: 1rem !important;
}